.header {
  padding: 10em;
  background-image: url("https://images4.alphacoders.com/743/743797.png");
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
}
